{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reach Out</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <nav class="blue navbar-bar  white">
    <div class="nav-wrapper container navbar ">
      {%if user.is_authenticated%}
      <a href="{%url 'home_login'%}" class="brand-logo left">ReachOut <i class=" medium material-icons ">bubble_chart</i></a>
      <ul id="nav-mobile" class="right">
        
      {%else%}
      <a href="/" class="brand-logo left">ReachOut <i class=" medium material-icons ">bubble_chart</i></a>
      <ul id="nav-mobile" class="right">
      {%endif%}
        {%if user.is_authenticated%}
          <li><img class="nav-dp" src="{{ user.profile.image.url }}" width="40" align="center""></li>
          <li><a class = "profile" href="{% url 'profile' %}">profile</a></li>
          <li><a class="login" href="{% url 'logout' %}">logout</a></li>
        {%else%}
          <li><a class="register" href="{% url 'register' %}">register</a></li>
          <li><a class="login" href="{% url 'login' %}">login</a></li>
        {%endif%}
      </ul>
    </div>
  </nav>


    {% block content %}
    {% endblock %}


</body>
</html>