{%extends 'base.html'%}
{%load static%}


{%block content%}

<script type="text/javascript" src="{% static 'like.js' %}"></script>

<div class="container all-posts ">
  
            {%for post in post%}
              <a href="{% url 'post_detail' post.id %}"><h1>{{post.title}}</h1></a>
              <h2>{{post.content}}</h2>
              <p>{{post.date}}</p>
              <form action="{%url 'like' post.id %}" method="POST">
                {%csrf_token%}
                <button type="submit" id="like" >like</button>
              </form>
              <h5>{{post.likes.like_post}}</h5>
                {%if user.is_authenticated%}
                    {%if user == post.user%}
                      <form action="{%url 'post_delete' post.id %}" method="POST">
                        {%csrf_token%}
                        <button type="submit">Delete</button>
                      </form>
                    {%endif%}
                {%endif%}
            {%endfor%}
          
            </div>



{%endblock%}