{% extends 'base.html' %}
{%load static%}
{% block content %}




                  <div class="card card-background container-fluid" >
                    <h2 class="card-title">Write your heart out..</h2>
                    {%if user.is_authenticated%}
                    <a href="{% url 'home_login' %}" class="waves-effect waves-light btn-small get-started explore">Explore Posts</a>
                    {%else%}
                    <a href="{% url 'register' %}" class="waves-effect waves-light btn-small get-started ">Get Started</a>
                    {%endif%}
                  </div>
            

                  <div class="express container" align="center">
                    <h1 class="express-yourself" >Express Yourself</h1>
                    <div class="quote">
                    <h5 >Live life as though nobody is watching, and express yourself as though everyone is listening.
                    </h5>
                    <h5>-<a href="{%url 'test'%}">Nelson Mandela</a></h5>
                    </div>
                  </div>


                  <div class="parallax-container">
                    <div class="parallax">
                      <img src="/static/images/background3.jpg" class=" background3 responsive-img">
                    </div>
                  </div>
                  <script> 
                    //Initialise 
                          $(document).ready(function(){
                            $('.parallax').parallax();
                          }); 
                    </script>
                
            <div class="quote-second" align="center">
            <h5>
              We help you collect, manage and share your thoughts with the world. </h5> 
              <h5>So join today and be 
              a part of the family.
            </h5>
          </br>
            <a class="waves-effect waves-light btn pt-10"><i class="material-icons right">group</i>Sign Up</a>
          </div>

            <div class="row container cards">
                <div class="col s12 m12 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="/static/images/card2.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
              </div>
            

            <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="/static/images/card1.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="/static/images/card3.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>


        </div>
        
   

          </li>
            
{% endblock %}