{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2>{{user}}</h2>

<img src="{{ image }}" width="100">
{#{{ image }}#}

</br>
{#{% if user.profile.status %}#}
{#    {{ user.profile.status }}#}
{#{% else %}#}
{#    <form action="{% url 'profile' %}" method="post">#}
{#        {%csrf_token%}#}
{#        <input type="text" placeholder="type here" name="status">#}
{#        <button type="submit">save</button>#}
{#    </form>#}
{#{% endif %}#}

{%for post in posts%}
    <h5>{{post.title}}</h5>
    <p>{{post.content}}</p>
{%endfor%}
</div>

{% endblock %}